body{
  background-color: rgba(162, 240, 250, 0.993);
  font-family: 'Dosis', sans-serif;
}

.game-container {
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  border-radius: 25px;
  width:800px;
  text-align: center;
  background-image: url("../images/village2.gif");
  background-repeat: no-repeat;
  height: 500px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
.weather-img{
 
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.weather-img img{
  height: 100px;
  width: 100px;
}

h4 span{
  font-size: 30px;
}
.weather-container{
  background-color: rgb(226, 137, 35);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  
}
#characters img{
  height:60px;
}
#hamster{
  position:absolute; 
  left:400px; 
  top:400px;
}

#cat{
  position:absolute; 
  left:800px; 
  top:300px;
}

#goat{
  position:absolute; 
  left:400px; 
  top:240px;
}

#eagle{
  position:absolute; 
  left:500px; 
  top:440px;
}

#sq{
  position:absolute; 
  left:820px; 
  top:400px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 250px;
  text-align: left;
  background-color: rgba(240, 248, 255, 0.575);
  width:100px;
  border-radius: 50px;
}


li lottie-player{
  margin: auto;
  
  
}


.col-sm-4{
  margin-left: 70px;
  background-color: blanchedalmond;
  border-radius: 25px;
}
.col-sm-6{
  background-color: aquamarine;
  border-radius: 25px;
}

#game{
  background-color: burlywood;
  width: 400px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

h1{
  font-family: 'Potta One', cursive;
}
#title{
  height: 130px;
}
#today-weather{
  font-size: 30px;
  font-weight: bold;
}
.temperature-value{
  font-size:20px;
}

#door{
  position: absolute; right: 0; bottom: 0; 
  height:50px;
}
.back lottie-player{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.back{
  background-color: rgb(252, 229, 196);
  width:70px;
  height:70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}